<div class="container p-5 scroll" style="color: white; ;">
  <p>
    No meu portfólio, você encontrará exemplos de websites responsivos, aplicativos interativos e soluções criativas que
    resolvem problemas do mundo real. Estou constantemente buscando aprender novas tecnologias e aprimorar minhas
    habilidades, e este portfólio é um reflexo da minha jornada e do meu compromisso com a excelência no desenvolvimento
    web.
  </p>
  <p>
    Sinta-se à vontade para explorar os projetos, e não hesite em entrar em contato se tiver interesse em discutir uma
    oportunidade de colaboração ou se quiser saber mais sobre o meu trabalho.
  </p>
</div>
