<nav>
  <ul>
    <li>
      <a href="https://github.com/FabioCCamarg" target="_blank">
        <i class="fa-brands fa-github"></i> GitHub
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/fabio-costa-camargo" target="_blank">
        <i class="fa-brands fa-linkedin"></i> LinkedIn
      </a>
    </li>

  </ul>
</nav>

<div class="container justify-content-center">
  <div class="row">
    <div class="row-md-8">

      <p>
        <b>Sobre</b><br><br>

        Olá! <br>Sou Fábio, sou <strong>Desenvolvedor Front-End</strong> gosto de criar interfaces intuitivas e
        funcionais. Atualmente, estou cursando <strong>Análise e Desenvolvimento de
          Sistemas</strong>, o que tem me permitido aprofundar meus conhecimentos em tecnologia e aprimorar minhas
        habilidades na <strong>programação</strong>. Tenho experiência em trabalhar com frameworks modernos, como
        <strong>ANGULAR 2+</strong>, e estou sempre em busca de novos desafios que me permitam crescer profissional e
        pessoalmente.<br>

        Sou casado e pai, o que me ensinou a importância de equilíbrio, planejamento e persistência, são qualidades que
        levo
        comigo em minha vida profissional. Minha jornada no mundo do desenvolvimento é motivada pela curiosidade e o
        desejo
        constante de aprender e inovar. Estou ansioso para contribuir em projetos que façam a diferença e para continuar
        evoluindo como desenvolvedor.
      </p>
      <div class="col-md-4 p-3 align-items-center">
        <img
          src="https://media.licdn.com/dms/image/v2/D4D03AQHSRDe44gBzSg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1706883680878?e=1730937600&v=beta&t=R5eajBlCGgjhq7WlyH2oLN8UyjUyCBFU7p74c9bGqn8"
          alt="Foto de Perfil" class="img-fluid rounded-circle">
      </div>
    </div>
  </div>
</div>
