<div class="container-fluid">
  <div class="hero-image">
    <div class="hero-content">
      <h1 class="hero-title"><code style="color: white;">Olá, sou Fábio!</code></h1>

      <p class="hero-paragrafo"><code
          style="color: rgb(236, 227, 227);">Desenvolvedor Front End,  Transformo ideias em interfaces intuitivas e responsivas, criando experiências digitais que encantam e engajam usuários.</code>
      </p>
      <span class="hero-chave" style="color: white; font-size: 3rem; padding-right: 3rem;">&#123; &#125;</span>
    </div>
  </div>
</div>
