<div class="container-fluid">
  <div class="cards-content">

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <img
          src="https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/cloneInsta.png"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Clone Login Instagram</h5>
        <p class="card-text">Utilizado HTML5 e CSS3.</p>
        <button class="btn btn-primary" (click)="openModal('https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/cloneInsta.png')" data-bs-toggle="modal" data-bs-target="#myModal">Acessar</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <img
          src="https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/GeraQRCode.png"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Gerador de QRcode</h5>
        <p class="card-text">Utilizado HTML, CSS e JS.</p>
        <button class="btn btn-primary" (click)="openModal('https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/GeraQRCode.png')" data-bs-toggle="modal" data-bs-target="#myModal">Acessar</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <img
          src="https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/GeradorSenha.png"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Gerador de Senha</h5>
        <p class="card-text">Utilizado HTML, CSS e JS.</p>
        <button class="btn btn-primary" (click)="openModal('https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/GeradorSenha.png')" data-bs-toggle="modal" data-bs-target="#myModal">Acessar</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <img
          src="https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/Loja%20de%20vendas%20iPhone.png"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Site venda de iPhone</h5>
        <p class="card-text">Utilizado HTML, CSS e JS.</p>
        <button class="btn btn-primary" (click)="openModal('https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/Loja%20de%20vendas%20iPhone.png')" data-bs-toggle="modal" data-bs-target="#myModal">Acessar</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <img
          src="https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/PaginaForm.png"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Formulário</h5>
        <p class="card-text">Utilizado HTML, CSS e JS.</p>
        <button class="btn btn-primary" (click)="openModal('https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/PaginaForm.png')" data-bs-toggle="modal" data-bs-target="#myModal">Acessar</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <img
          src="https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/Tabuada.png"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Calculadora</h5>
        <p class="card-text">Utilizado HTML5, CSS e JS.</p>
        <button class="btn btn-primary" (click)="openModal('https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/Tabuada.png')" data-bs-toggle="modal" data-bs-target="#myModal">Acessar</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <img src="https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/Todo.png"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">TODO</h5>
        <p class="card-text">Utilizado HTML, CSS e JS.</p>
        <button class="btn btn-primary" (click)="openModal('https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/Todo.png')" data-bs-toggle="modal" data-bs-target="#myModal">Acessar</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <img src="https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/site.png"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Clone Página Login Instagram</h5>
        <p class="card-text">Utilizado HTML, CSS e JS.</p>
        <button class="btn btn-primary" (click)="openModal('https://raw.githubusercontent.com/FabioCCamarg/portifolio/main/portifolio/src/assets/image/site.png')" data-bs-toggle="modal" data-bs-target="#myModal">Acessar</button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content p-4">
          <img [src]="selectedImage" class="img-fluid">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>
