<nav id="navbar" class="navbar p-6 m-4"  style="background-color:#16191db9; font-family: 'Times New Roman', Times, serif;">
  <a class="navbar-brand" routerLink="" style="color: #fff;">PORTIFÓLIO</a>
  <img src="C:\Users\55159\Pictures\Saved Pictures\Perfil.jpg" alt="">
  <ul class="nav nav-pills" >
    <li class="nav-item" >
      <a class="nav-link" routerLink="inicio" routerLinkActive="active"  style="color: white;">HOME</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="sobre" routerLinkActive="active" style="color: white;">SOBRE</a>

      <li class="nav-item" >
        <a class="nav-link"  routerLink="projeto" routerLinkActive="active" style="color: white;">PROJETOS</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>

